* {
    box-sizing: border-box;
}
body {
    font-family: 'Mountains of Christmas', cursive;
    font-size: 24px;
    background-color: #ffffff;
    background-image: url('creep.png');
    color:white;
}
header ul li {
    padding: 10px 20px;
    list-style: none;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    display: inline;
    font-family: 'Russo One', sans-serif;
}
header ul {
    text-align: right;
    margin-top: 50px
}
/*main*/

h1 {
    font-size: 40px;
    font-family: 'Mountains of Christmas', cursive;
    font-style: normal;
    text-align: center;
    color: white;
}

button {
    text-align: center;
    background-color: red;
    font-size: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.answer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 60%;
}

div {
    text-align: center;
}

@media screen and (max-width: 1024px) {
    button {
        text-align: center;
        background-color: red;
        font-size: 30px;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
        }
        div {
            text-align: center;
        }
    h2 {
        font-size: 50px;
    }
}

@media screen and (max-width:736px) {
    header ul li {
        display: block;
        padding: .5px;
        text-align: right;
    }

    h2 { 
       text-align: center;
       font-size: 30px;  
    }

    button {
        padding: 10px;
        font-size: 20px;
    }
}

@media screen and (max-width: 320px) {
    header ul li {
        padding: .5px;
        text-align: right;
        font-size: 20px;
    }
    h2 {
        font-size: 25px;
    }
    button {
        padding: 10px;
        font-size: 10px;
    }
}

a {
    color: red;
}

a:visited {
    color: white;
}