* {
    box-sizing: border-box;
}
body {
    font-family: 'Mountains of Christmas', cursive;
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
    background-color: #ffffff;
    background-image: url('creep.png');
    color:white;
}
header ul li {
    padding: 10px 20px;
    list-style: none;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    display: inline;
}
header ul {
    text-align: right;
    margin-top: 50px
}
/*main*/

h2 {
    font-size: 40px;
    font-family: 'Mountains of Christmas', cursive;
    font-style: normal;
    text-align: center;
    color: white;
}

button {
    text-align: center;
    background-color: red;
    font-size: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.answer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 60%;
}

div {
    text-align: center;
}